<p class="text-4xl font-bold mb-6 ml-1"><%= @selected_category_name %></p>

<div class="flex flex-wrap gap-2.5 mb-4 pb-3 ml-1 border-b-1 text-l">
  <% @categories_filter_bar[:buttons].each do |category_filter_button| %>
    <% if params[:category] == category_filter_button[:value] %>
      <%= link_to(
            category_filter_button[:label],
            products_path(category: category_filter_button[:value]),
            method: :get,
            class: "selected-category hover:bg-gray-400"
          )
      %>
    <% else %>
      <%= link_to(
            category_filter_button[:label],
            products_path(category: category_filter_button[:value]),
            method: :get,
            class: "unselected-category"
          )
      %>
    <% end %>
  <% end %>
</div>

<div class="grid grid-cols-4 gap-5">
  <% if current_user.is_admin %>
    <div class="col-span-1 items-center justify-center m-auto">
      <%= link_to "+", new_product_path, class: "hover:bg-gray-200 text-3xl font-bold rounded-full h-32 w-32 flex items-center justify-center bg-gray-100", data: { turbo_frame: 'modal'} %>
    </div>
  <% end %>

  <% @products.each do |product| %>
    <%= render "shared/product",
        product: product,
        class: "col-span-1"
    %>
  <% end %>
</div>
