<div class="show-page-container">
  <!-- Image Section -->
  <div class="h-dvh">
    <% if params[:variant].nil? %>
      <img src="<%= @resource[:basic_data][:image] %>" alt="Product Image">
    <% else %>
      <img src="<%= @resource[:variant_selected][:image] %>" alt="Product Image">
    <% end %>
  </div>

  <!-- Product Detail Section -->
  <div class="product-detail">

    <!-- Basic Product Info -->
    <div class="product-basic-detail">
      <p class="mt-5 font-light">
        <%= @resource[:basic_data][:collection] %>
      </p>

      <p class="mt-2 text-2xl font-bold">
        <%= @resource[:basic_data][:name] %>
      </p>

      <% unless params[:variant].nil? %>
        <p class="font-bold">
          ฿ <%= @resource[:variant_selected][:price] %>
        </p>
      <% end %>
    </div>

    <!-- Size Selector -->
    <p class="mt-10">Size</p>

    <div class="mt-4 flex gap-3">
      <% @resource[:product_variants].each do |variant| %>
        <% if selected_size?(variant[:id]) %>
          <%= link_to(
                variant[:label].titleize,
                variant[:path],
                class: "selected-button-size"
              )
          %>
        <% else %>
          <%= link_to(
                variant[:label].titleize,
                variant[:path],
                class: "button-size"
              )
          %>
        <% end %>
      <% end %>
    </div>

    <!-- Stock Info -->
    <% unless params[:variant].nil? %>
      <div class="mt-5">
        <p class="font-bold">
          Stock: <%= @resource[:variant_selected][:stock] %>
        </p>
      </div>
    <% end %>

    <!-- Description -->
    <div class="mt-10">
      <p>
        <%= @resource[:basic_data][:description] %>
      </p>
    </div>

  </div>
</div>
