<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Clothes Shop" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.turbo.min.js"></script>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="grid grid-cols-4">
        <div class="col-span-1">
            <%= link_to welcome_index_path, class: "w-max block ml-3 mt-2" do %>
              <% image_tag "adidas_logo.png", class: "logo" %>
            <% end %>
        </div>

        <div class="flyout-container col-span-2">
          <ul class="flyout-list">
            <li>
              <%= link_to(
                    "Home",
                    welcome_index_path,
                    class: "flyout-link"
                  )
              %>
            </li>

            <li>
              <%= link_to(
                    "Products",
                    products_path,
                    class: "flyout-link"
                  )
              %>
            </li>

            <li>
              <%= link_to(
                    "Collections",
                    collections_path,
                    class: "flyout-link"
                  )
              %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container mx-auto mt-10 px-5">
      <%= yield %>
    </main>
  </body>
</html>
